html {-ms-text-size-adjust: 100 % ;-webkit-text-size-adjust: 100 % ;
	line-height: 1.6
}
body {-webkit-touch-callout: none;
	font-family: 
	微软雅黑;
	"Helvetica Neue",
	Helvetica,
	Arial,
	sans-serif;
	background-color: #f3f3f3;
	line-height: inherit
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: 16px;
} * {
	margin: 0;
	padding: 0;
	font-style: normal
	font-size: 14px;
	line-height:25px;
}
a {
	color: #607fa6;
	text-decoration: none
}.rich_media_inner {
	font-size: 15px;
	word-wrap: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;
	hyphens: auto
}.rich_media_area_primary {
	position: relative;
	padding: 10px 15px 15px;
	background-color: #fff
}.rich_media_area_primary: before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100 % ;
	height: 1px;
	border-top: 1px solid#e5e5e5;-webkit-transform-origin: 0 0;
	transform-origin: 0 0;-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	top: auto;
	bottom:-2px
}.rich_media_area_extra {
	padding: 0 15px 0
}.rich_media_title {
	margin-bottom: 12px;
	line-height: 1.4;
	font-weight: 400;
	font-size: 24px
}.rich_media_meta_list {
	overflow: hidden;
	margin-bottom: 18px;
	line-height: 20px
}.rich_media_meta {
	float: left;
	margin-right: 8px;
	margin-bottom: 10px
}.rich_media_meta_tag {
	position: relative;
	padding: 0.5em 0 1.5em;
	border-top-left-radius: 36 % 100 % ;-moz-border-radius-topleft: 36 % 100 % ;-webkit-border-top-left-radius: 36 % 100 % ;
	border-top-right-radius: 36 % 100 % ;-moz-border-radius-topright: 36 % 100 % ;-webkit-border-top-right-radius: 36 % 100 % ;
	border-bottom-left-radius: 36 % 100 % ;-moz-border-radius-bottomleft: 36 % 100 % ;-webkit-border-bottom-left-radius: 36 % 100 % ;
	border-bottom-right-radius: 36 % 100 % ;-moz-border-radius-bottomright: 36 % 100 % ;-webkit-border-bottom-right-radius: 36 % 100 % ;
	color: #fff;
	background-color: #b9b9b9
}.icon_meta_copyright {
	width: 1em;
	position: absolute;
	top: 50 % ;
	margin-top:-8px;
	left: 2px
}.rich_media_meta_text {
	color: #8c8c8c
}.rich_media_meta_nickname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 9em
}.rich_media_thumb {
	width: 100 % ;
	margin-bottom: 6px
}.rich_media_content {
	overflow: hidden;
	color: #3e3e3e
}.rich_media_content * {
	max-width: 100 % !important;
	box-sizing: border-box ! important;-webkit-box-sizing: border-box ! important;
	word-wrap: break-word ! important
}.rich_media_content p {
	clear: both;
	min-height: 1em;
	white-space: pre-wrap
}.rich_media_content.list-paddingleft-2 {
	padding-left: 30px
}.rich_media_content blockquote {
	margin: 0;
	padding-left: 10px;
	border-left: 3px solid#dbdbdb
}
img {
	height: auto ! important
}

.jt_color{ background-color:#5C2A7E; color:white;}

#scrollUp{bottom:230px;right:15px;height:45px;width:45px;background:url('/images/top.png') no-repeat scroll 0% 0% transparent}